<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>My Bucket List</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/countries">Countries</a></li>
                <li><a href="/cities">Cities</a></li>
                <li><a href="/sights">Sights</a></li>
                <li><a href="/visited">Visited</a></li>
                <li><a href="/bucket_list">Bucket List</a></li>
                
            </ul>
        </nav>
    </header>
<!-- {% extends "base.html" %} -->
<!-- {% block content %} -->
<div class="all_lists">
<div class="country_list">
    <h2>Countries</h2>
{% for country in all_countries %}
{% if country.visited == False %}
        <a href="/countries/{{country.id}}">{{ country.country_name }}</a>
        <!-- , {{ country.continent }} -->
{% endif %}
{% endfor %}
</div>

<div class="city_list">
    <h2>Cities</h2>
{% for city in all_cities %}
{% if city.visited == False %}

        <a href="/cities/{{city.id}}">{{ city.city_name }}</a>
        <!-- , <a  href="/countries/{{city.country.id}}">{{ city.country.country_name }}</a> -->

{% endif %}
{% endfor %}
</div>

<div class="sight_list">
    <h2>Sights</h2>
{% for sight in all_sights %}
{% if sight.visited == False %}


        <a href="/sights/{{sight.id}}">{{ sight.sight_name }}</a>
    <!-- , <a  href="/cities/{{sight.city.id}}">{{ sight.city.city_name }}</a> -->

{% endif %}
{% endfor %}
</div>

</div>


<!-- {% endblock %} -->